---
const currentYear = new Date().getFullYear()
---

<footer class="flex justify-between items-center px-8 py-4 text-sm text-white/60">
  <p>© <span id="year">{currentYear}</span> Jeanpkdz. All rights reserved</p>
  <nav class="flex gap-6">
    <a href="#about">About me</a>
    <a href="#contact">Contact</a>
  </nav>
</footer>
