---
const currentYear = new Date().getFullYear()
---

<footer class="flex items-center gap-y-4 flex-col md:flex-row md:justify-between md:items-center md:gap-y-0 w-11/12 lg:w-7/12 mx-auto py-8 text-sm text-white/60">
  <p>© <span id="year">{currentYear}</span> Jeanpkdz. All rights reserved</p>
  <nav class="flex gap-6 -order-1 md:order-0">
    <a href="#about">About me</a>
    <a href="#contact">Contact</a>
  </nav>
</footer>
