---
const navItems = [
  { href: '#timeline', label: 'Experience' },
  { href: '#projects', label: 'Projects' },
  { href: '#about', label: 'About Me' },
  { href: '#contact', label: 'Contact' },
];
---

<header class="z-50 sticky top-3 w-full">
  <nav class="w-max mx-auto py-2 px-4 rounded-full text-sm">
    <ul class="flex gap-5 md:gap-10">
      {
        navItems.map((navItem) => (
          <li>
            <a href={navItem.href} class="transition-colors">{navItem.label}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  @reference "tailwindcss";

  nav {
    scroll-target-group: auto;
    animation: nav-scroll auto linear forwards;
    animation-timeline: scroll(root block);
    animation-range: 10% 30%;

    @supports (scroll-target-group: auto) {
      & a:is(:target-current, :hover) {
        @apply text-blue-500;
      }
    }
  }

  @keyframes nav-scroll {
    to {
      background-color: light-dark(white, var(--color-gray-800));
      box-shadow: var(--shadow-lg);
      backdrop-filter: blur(var(--blur));
    }
  }
</style>
