---
export type SectionId = 'hero' | 'about' | 'timeline' | 'projects'
type SectionIdString = `#${SectionId}`

type NavItem = {
  href: SectionIdString;
  label: string;
}

const navItems = [
  { href: '#hero', label: 'Home' },
  { href: '#timeline', label: 'Experience' },
  { href: '#projects', label: 'Projects' },
  { href: '#about', label: 'About Me' },
] satisfies NavItem[];
---

<header
  class="z-50 fixed top-0 left-0 right-0 w-full px-16 py-4 pb-6 flex items-center justify-between"
>
  <a
    href="/"
    class="text-white font-mono font-bold tracking-widest uppercase text-sm"
  >
    JEANPKDZ
  </a>

  <nav>
    <ul class="flex gap-8">
      {
        navItems.map((navItem) => (
          <li>
            <a
              href={navItem.href}
              class="text-gray-400 hover:text-white text-sm tracking-wide transition-colors duration-200"
            >
              {navItem.label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  @reference "tailwindcss";

  header {
    animation: nav-scroll auto linear forwards;
    animation-timeline: scroll(root block);
    animation-range: 100px 300px;
  }

  nav {
    position: relative;

    @supports (scroll-target-group: auto) {
      scroll-target-group: auto;

      &::after {
        transition-property:
          top, width, position, display, left,
          background-color;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
        transition-behavior: allow-discrete;
        width: 0px;
        display: none;
        content: " ";
        position:absolute;
        height: 3px;
      }

      &:has(li:not(:first-child) a:target-current)::after {
        display: block;
        content: " ";
        position-anchor: --active-section;
        position: absolute;
        top: calc(anchor(bottom) + 5px);
        left: anchor(left);
        width: calc(anchor-size(width) / 2);
        background-color: var(--color-blue-500);

        @starting-style {
          width: 0px;
        }
      }

      & li:first-child {
        display: none;
      }

      & a:is(:target-current, :hover) {
        @apply text-blue-500;
      }

      & a:target-current {
        anchor-name: --active-section;
      }
    }

    /* & a[href="#projects"] {
      animation: paint auto forwards ;
      animation-timeline: --project-section;
    } */
  }

  @keyframes nav-scroll {
    to {
      background-color: light-dark(white, var(--color-gray-900));
      box-shadow: 0 8px 20px 0 rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(var(--blur));
    }
  }

  @keyframes paint {
    to {
      color: var(--color-blue-500);
    }
  }
</style>
