---
export type SectionId = 'hero' | 'about' | 'timeline' | 'projects'
type SectionIdString = `#${SectionId}`

type NavItem = {
  href: SectionIdString;
  label: string;
}

const navItems = [
  { href: '#timeline', label: 'Experience' },
  { href: '#projects', label: 'Projects' },
  { href: '#about', label: 'About Me' },
] satisfies NavItem[];
---

<header
  class="z-50 fixed top-0 left-0 right-0 w-full px-16 py-4 pb-6 flex items-center justify-between"
>
  <a
    href="/"
    class="text-white font-mono font-bold tracking-widest uppercase text-sm"
  >
    JEANPKDZ
  </a>

  <nav>
    <ul class="flex gap-8">
      {
        navItems.map((navItem) => (
          <li>
            <a
              href={navItem.href}
              class="text-gray-400 hover:text-white text-sm tracking-wide transition-colors duration-200"
            >
              {navItem.label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  @reference "tailwindcss";

  header {
    animation: nav-scroll auto linear forwards;
    animation-timeline: scroll(root block);
    animation-range: 10% 30%;
  }

  nav {
    position: relative;
    scroll-target-group: auto;

    &::after {
      position: absolute;
      display: block;
      content: " ";
      height: 3px;
      width: calc(anchor-size(width) / 2);
      background-color: var(--color-blue-500);
      position-anchor: --active-section;
      top: calc(anchor(bottom) + 5px);
      left: anchor(left);
      transition-property: top, left;
      transition-duration: 400ms;
      transition-timing-function: ease-in-out;
    }

    @supports (scroll-target-group: auto) {
      & a:is(:target-current, :hover) {
        @apply text-blue-500;
      }

      & a:target-current {
        anchor-name: --active-section;
      }
    }
  }

  @keyframes nav-scroll {
    to {
      background-color: light-dark(white, var(--color-gray-900));
      box-shadow: 0 8px 20px 0 rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(var(--blur));
    }
  }
</style>
