---
import type { SectionId } from '@/components/layout/Header.astro'

export interface Props {
  id: SectionId;
  class?: string;
}

const { class: className = '', id, ...rest } = Astro.props;
---

<section
  id={id}
  class={`w-11/12 lg:w-8/12 max-w-300 mx-auto ${className}`}
  {...rest}
>
  <slot />
</section>
