---
interface Props {
  id: string;
  class?: string;
}

const { class: className = '', id, ...rest } = Astro.props;
---

<section
  id={id}
  class={`w-10/12 lg:w-6/12 max-w-300 mx-auto ${className}`}
  {...rest}
>
  <slot />
</section>
