<div>
  <div class="relative inline-flex items-center overflow-hidden rounded-full">
    <span
      class="absolute w-[700%] h-[700%] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 mx-auto bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]
    animate-[spin_2s_linear_infinite]"
    ></span>
    <span
      class="relative rounded-full px-6 py-1 text-sm text-green-800 bg-green-100 dark:bg-gray-800 dark:text-white/80 whitespace-nowrap cursor-pointer border-2 border-transparent bg-clip-padding"
    >
      <slot />
    </span>
  </div>
</div>
