---

---

  <header>
    <nav class='flex gap-4'>
      <ul>
        <li><a href='#experience'>Experience</a></li>
        <li><a href='#projects'>Projects</a></li>
        <li><a href='#about'>About Me</a></li>
        <li><a href='#contact'>Contact</a></li>
      </ul>
    </nav>
  </header>

    <style>
  nav {
    scroll-target-group: auto;

    & a:is(:target-current, :hover) {
      /* @apply text-blue-700 */
    }
  }
    </style>
