---
import Badge from '@/components/base/Badge.astro'
import SectionWrapper from '@/components/layout/SectionWrapper.astro'
import SocialPill from '@/components/base/SocialPill.astro'
import LinkedinLogo from '@/assets/icons/linkedin.svg'
import MailPlus from '@/assets/icons/mailplus.svg'
---

<SectionWrapper id='hero' class="py-25 md:py-50">
  <div class="flex gap-4 mb-8">
    <div class="w-15 aspect-square rounded-full bg-amber-300"></div>
    <div class="self-center">
      <Badge>Open to Work</Badge>
    </div>
  </div>

  <div>
    <h1 class="text-balance text-4xl font-bold mb-6">Hey, soy Jeanpkdz</h1>
    <p class="text-pretty text-xl text-gray-300 max-w-[55ch]">
      <span class="font-semibold text-amber-300"
        >Junior Full Stack Developer</span
      >
      and recent Systems Engineering graduate from Peru. Passionate about web development,
      with hands-on experience <span class="font-semibold text-amber-300"
        >building web applications</span
      > through personal projects.
    </p>
  </div>

  <div class="flex gap-3 mt-8">
    <SocialPill href="mailto:jeanchua1304@gmail.com">
      <MailPlus slot="icon" width={20} height={20} />
      Contact me
    </SocialPill>

    <SocialPill
      href="https://www.linkedin.com/in/jean-carlo-chua-aguilar-8a094b308/"
    >
      <LinkedinLogo slot="icon" width={20} height={20} />
      Linkedn
    </SocialPill>
  </div>
</SectionWrapper>
